@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

body {
    background-color: #6aa5ff;
    color: black;
    font-family: "Akaya Kanadaka", sans-serif;
    align-content: center;
}

h1, h4, nav, .container {
    text-align: center;
}

li, ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    /* background-color: white; */
    /* max-width: 300px; */
}



img {
    border-radius: 25px;
    border: solid white 2px;
    align-content: center;
}