@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

body {
    background-color: #6aa5ff;
    color: black;
    font-family: "Akaya Kanadaka", sans-serif;
    align-content: center;
    text-shadow: 2px 2px white;
}

h1, h4, nav, .container {
    text-align: center;
    text-shadow: 1px 1px white;
}

h4 {
    font-size: large;
    align-content: center;
}


li, ul {
    text-decoration: none;
    list-style-type: none;
    font-size: medium;
    text-align: center;
    /* background-color: white; */
}

li {
    display: table;
    margin: 0px auto 0px auto;
}




img {
    border-radius: 25px;
    border: solid white 2px;
}